* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
}

.header {
  margin-bottom: 40px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40x;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px;
}

.tag {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
}

.text {
  font-size: 16px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

ul {
  list-style: none;
}
